h1{
    color: rgb(0, 128, 11);
    font-size:25px;
}
.hightlight{
    color:red;
}
.boldtext{
    font-weight:bold;
}
table{
    border-collapse: collapse;
}
th,
td{
border: 1px solid black;
padding: 5px;
}
.container{
    display: flex;
    flex-direction: row;
}