h1{
    color: rgb(0, 128, 11);
    font-size:25px;
    text-align: center;
}
.hightlight{
    color:red;
}
.boldtext{
    font-weight:bold;
}
table{
    border-collapse: collapse;
}
th,
td{
border: 1px solid black;
padding: 5px;
}
.container{
    display: flex;
    flex-direction: row;
}
.contener{
    margin:auto;
    background: white;
    padding:20px;
    max-width: 1000px;
}
@media screen {
    
}